body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  width: 100vw;
  background: url('/public/assets/dollar.svg');
  background-size: 25px;
  background-position: center;
}

h1 {
  text-align: center;
}

main {
  flex: 1;
  margin: 1em auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.5;
}

ul {
  list-style: none;
  padding-left: 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.4em;
}

nav ul li {
}

/*.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}*/

#login form,
#logged-in {
  display: flex;
  flex-direction: column;
  margin: 2em auto;
}

button {
  color: inherit;
  background-color: #fff;
  border-radius: 3px;
  font-size: 0.9em;
  border: 1px solid #000;
  margin: 0.5em auto;
}

button:active {
  background-color: #555;
  color: #fff;
  border-color: #fff;
}

.error-msg {
  color: red;
}

footer ul {
  display: flex;
  justify-content: space-around;
  margin: 1em;
}

footer ul li {
  font-size: 0.8em;
  margin-left: 1em;
  margin-right: 1em;
}