<<<<<<< HEAD
#canvas-holder {
    max-width: 500px;
    max-height: 400px;
};
=======
#stock-data {
    border: solid black 1px;
    background-color: #c4c4c4;
}
.stock-dtls-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.stock-dtls-wrapper li{
    padding-bottom: .5em;
}

>>>>>>> 121a3f3f9eb1334d7de33babc11ce372982b74e9
